@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');


.fire {
	margin: 50px auto;
	width: 80%;
	max-width: 1000px;
	height: 200px;

	background-position: center center;
	background-size: 1000px 200px;
	border-radius: 10px;
	font-family: 'Akronim';
	overflow: hidden;
    text-align: center;
	vertical-align: middle;

}
.fire:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.Blazing {
    font-family: "Akronim", system-ui;
	display: inline-block;
	margin: 0;
    align-items: center;
    color: rgb(255, 115, 0);
    font-size: 50px;
	line-height: 50px;
	min-width: 50px;
	outline: none;
	vertical-align: middle;
    
	text-shadow:
        0 3px 20px red,
        0 0 20px red,
		0 0 10px orange,
		4px -5px 6px yellow,
		-4px -10px 10px yellow,
		0 -10px 30px yellow;
	animation: 2s Blazing infinite alternate linear;
}

@keyframes Blazing {
	0%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px orange,
		0 0 0 yellow,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		4px -10px 10px yellow; }
	25%   { text-shadow: 0 3px 20px red, 0 0 30px red,
		0 0 20px orange,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		3px -10px 10px yellow,
		-4px -15px 20px yellow; }
	50%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 -5px 10px orange,
		-2px -5px 5px yellow,
		3px -10px 10px yellow,
		-4px -15px 20px yellow,
		2px -20px 30px rgba(255,255,0,0.5); }
	75%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 -5px 10px orange,
		3px -5px 5px yellow,
		-4px -10px 10px yellow,
		2px -20px 30px rgba(255,255,0,0.5),
		0px -25px 40px rgba(255,255,0,0)}
	100%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px orange,
		0 0 0 yellow,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		4px -10px 10px yellow; }
}

/* General Styles */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

.homepage-container {
    width: 100%;
    padding: 0;
    text-align: center;
}

/* Carousel Container */
.carousel-container {
    margin: 5%;
    margin-top: 1%;
    width: 90%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

/* Carousel/Slider CSS */
.c {
    width: 80%; /* Stretch to full width */
    height: 400px;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 40px;
    box-shadow: 0 8px 48px 2px hsla(10 6% 15% / .4);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: hsl(0 0% 90%);
    box-sizing: border-box;
}

.ci {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust to full width */
    height: inherit;
    transform-origin: left 50%;
    background: inherit;
    z-index: var(--z);
    transition: .3s ease-out;
}

.ci img {
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.ch {
    position: absolute;
    top: 70%;
    left: 4%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: hsla(var(--h) var(--s) var(--l) / .8);
    text-shadow: 0 2px 10px hsla(var(--h) var(--s) 10% / .3);
}

input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -10;
}

label {
    width: 10%;
    height: 10px;
    margin-right: 4px;
    border-radius: 20px;
    background: hsla(0 0% 90% / .3);
    cursor: pointer;
    position: relative;
    z-index: 10;
}

label:last-child {
    margin-right: 0;
}

input:checked+label {
    background: linear-gradient(to right,
        hsla(var(--hue) 80% 70% / .7),
        hsla(calc(var(--hue) + 30) 80% 50% / .7));
}

input:not(:checked)+label+.ci {
    transform: translateX(-100%);
    opacity: 0;
}

input:checked+label+.ci~.ci {
    transform: translateX(100%);
}

input:not(:checked)+label+.ci {
    transition: 0;
}

/* ABS */
.abs-site-link {
    position: fixed;
    z-index: 11;
    bottom: 20px;
    left: 20px;
    color: hsla(32 50% 50% / .8);
    font-size: 1.6rem;
    font-weight: bold;
    border-bottom: 3px solid currentColor;
    text-decoration: none;
    background-color: inherit;
}

.abs-profiles {
    position: fixed;
    z-index: 10;
    right: 20px;
    bottom: 23px;
    opacity: .8;
}

.abs-profiles img {
    filter: hue-rotate(71deg) brightness(1.1);
}

.abs-profiles a {
    display: inline-block;
    margin-left: 6px;
}

/* Trending Grid */

.trending-container{
    margin-top: 20%;
}
.trending-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
}

.trending-card {
    text-decoration: none;
    color: inherit;
}

.trending-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.trending-card h3 {
    color: #ded4b1;
};

/* tvshows carousal */

/* Scroll Container for TV shows */

.tv_shows-container {
    height: 30vh; /* Adjust height to be smaller */
    position: relative;
    margin: 20px 0;
    overflow: hidden;
  }
  
  .carousel-primary {
    display: flex;
    justify-content: flex-start;
    top: 115%; /* Adjust top position to center it properly */
    width: 400%;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }
  
  .carousel-primary img {
    width: 200px; /* Adjust the width of each TV show image */
    margin: 10px;
    border-radius: 10px;
  }
  
  .carousel-primary {
    display: flex;
    justify-content: space-around;
    animation: scroll-horizontal 100s linear infinite;
  }
  
  @keyframes scroll-horizontal {
    0% {
      left: 100%;
    }
    100% {
      left: -380%;
    }
    /* 0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      } */
  }
  
  .carousel-primary:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }
